.Container {
  width: 800px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: white;
  padding: 1rem;
}
.Top{
  background: hsl(180, 29%, 50%);;
  width: 100%;
  /* height: 20vh; */
  img{
    width: 100%;
  }
}
.Section_A {
  display: flex;
  align-items: center;
}

.Details {
  margin-left: 1rem;
}
.CompanyName {
  display: flex;
  margin-bottom: 0.5rem;
  .name {
    color: hsl(180, 29%, 50%);
  }
  .new {
    background: hsl(180, 29%, 50%);
    color: white;
    border-radius: 5px;
    padding: 0.1rem 10px;
  }
  .Feature {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 0.1rem 10px;
  }
}
.CompanyName div {
  margin-right: 0.5rem;
}
.Position {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.Position:hover{
  color: hsl(180, 29%, 50%);
}
.Time {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  div {
    margin-right: 0.5rem;
  }
}
ul {
  display: flex;
  background: white;
  justify-content: space-evenly;
  margin: 0%;
}
li {
  list-style: none;
  padding: 0.5rem;
  background: hsl(180, 52%, 96%);
  margin: 0.3rem;
  color: hsl(180, 29%, 50%);
  border-radius: 5px;
}
li:hover{
  background: hsl(180, 29%, 50%);
  color: white;
}

/* Mobile */
@media (max-width: 425px) {
  body {
    margin-top: 100px;
  }
  .Container {
    width: 80%;
    margin: 3rem auto;
    display: block;
  }
  .Logo {
    margin: 0;
    padding: 0;
    position: absolute;
    img {
      position: relative;
      width: 70%;
      left: 10px;
      top: -70px;
    }
  }
  .Section_A {
    display: block;

    padding: 25px 0;
    border-bottom: 1px solid gray;
  }
  .Time {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  .Details {
    margin: 0;
    margin-top: 10px;
  }
  ul {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  li {
    background: lightblue;
    text-align: center;
    border-radius: 5px;
    margin-left: -10px;
  }
}
