.App {
  margin: 3rem auto;
  /* chhcechechech later  */
  height: fit-content;
  font-family: Plus Jakarta Sans;
}

@media  (min-width:467px) {
    body{
        /* background: black; */
    }
    .App{
        display: flex;
        width: 70%;
        margin: 2rem auto;
    }
}