.App {
  margin: 3rem auto;
  /* chhcechechech later  */
  height: 50vh;
  font-family: Plus Jakarta Sans;
}

@media  (min-width:467px) {
    
    .App{
        display: flex;
        width: 70%;
        margin: 2rem auto;
    }
}